
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.toggle-menu{
    display: none;
}

.logo-marca {
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 10px 10px rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
    height: 80px;
}

.logo-marca h1 {
    width: 16%;
    margin: 0 2%;
    font-size: 100%;
    text-align: center;
}

.nav {
    width: 78%;
    margin: 1%;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 4px;
    transition: color 0.5s;
}

.nav a:hover {  
    color:rgba(58, 87, 203, 0.98);
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


/* FIM DO HEADER */

/* BANNER PRINCIPAL */

#banner {
    float: left;
    width: 94%;
    margin: 2% 3%;
}

#banner img {
    width: 100%;
}

/* FIM DO BANNER PRINCIPAL */

/* CONTEÚDO PRINCIPAL */

#links {
    box-shadow: 6px 6px 10px #888888;
    border-radius: 20px;
    float: left;
    width: 16%;
    margin: 2%;
    height: auto;
}

.itens-article {
    width: 100%;
    margin-bottom: 40px;
}

.itens-article h3 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.imagem-links {
    width: 100%;
}

.imagem-links img {
    height: 100px;
    width: 100%;
}

/* TEXTO PRINCIPAL */
#texto {
    float: left;
    width: 78%;
    margin: 1%;
    height: auto;
}

#texto h1 {
    text-align: center;
}

#texto p:first-of-type {
    margin-top: 3%;
}

#texto p {
    text-align: justify;
    margin-top: 1%;
}

/* FIM DO CONTEÚDO PRINCIPAL */

/* BOX PAÍSES */
#paises {
    float: left;
    width: 98%;
    height: auto;
    margin: 1%;
}

.box-paises {
    display: flex;
    align-items: center;
    justify-content: center ;
    box-shadow: 0 0 10px #888888;
    border-radius: 20px;
    float: left;
    width: 22%;
    margin: 1%;
    height: 165px;
    border: 4px solid;
    border-color: transparent;
    transition: border-color .3s;
    cursor:zoom-in;
}

.box-paises:hover {
    border-color: #045ea2;
    box-shadow: none;
}

.box-paises img {
    height: 150px;
}


.italia h2 {
    margin-left: 10%;
}

.china h2 {
    margin-left: 10%;
}

.china img {
    height: 120px;
}

.franca img {
    height: 120px;
}

/* FIM BOX PAÍSES */

/* RODAPÉ */

#footer {
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#footer div{
    margin: 4% 5%;
}

.lista-footer{
    margin-top: 5%;
    text-decoration: none;
    list-style: none; 
}

.lista-footer li {
    margin-top: 1%;
}

.navegacao{
    margin-top: 10%;
}

@media (max-width: 768px) {
    

    .logo-marca h1 {
        width: 16%;
        margin: 0 2%;
        font-size: 100%;
        text-align: center;
    }

    #links {
        box-shadow: 6px 6px 10px #888888;
        border-radius: 20px;
        float: left;
        width: 98%;
        margin: 2%;
        height: auto;
    }

    .itens-article {
        width: 46%;
        margin: 2%;
        float: left;
    }

    .imagem-links{
        height: 180px;
        width: 100%;
    }
    
    #texto {
        float: left;
        width: 96%;
        margin: 2%;
        height: auto;
    }

    .box-paises {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px #888888;
        border-radius: 20px;
        width: 44%;
        margin: 2%;
        height: 165px;
        border: 4px solid;
        border-color: transparent;
        transition: border-color .3s;
        cursor:zoom-in;
    }

    #footer {
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-width: 640px) {

    .box-paises {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px #888888;
        border-radius: 20px;
        width: 96%;
        margin: 2%;
        height: 165px;
        border: 4px solid;
        border-color: transparent;
        transition: border-color .3s;
        cursor:zoom-in;
    }

    #footer {
        background: #f2f2f2;
        width: 100%;
        height: auto;
        display: block;
    }

    #links {
        display: none;
    }
    
    .toggle-menu{
        display: block;
        float: right;
        margin: 3%;
    }

    .logo-marca-aumento {
        height: 200px;
    }
    
    .logo-marca{
        float: left;
        display: block;
        transition: height 0.7s ease-out;
    }
    
    .logo-marca h1 {
        float: left;
        text-align: center;
        margin: 3%;
    }
    
    .nav {
        display: none;
        width: 100%;
        float: left;
    }

    .mostrar-menu {
        display: block;
    }

    .nav ul {
        display: block;
        width: 100%;
    }

    .nav ul li{
        width: 100%;
	    height: 30px;
        list-style: none;
        text-align: center;
    }

    #logo-site {
        text-align: center;
    }

}
    